<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/images/favicon.png">
    <link rel="shortcut icon" href="/images/favicon.png"> 

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- socketio -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
		@import url(http://fontawesome.io/assets/font-awesome/css/font-awesome.css);
		* {
		    margin:0px;
		    padding:0px;
		}
		body {
		    font-size:14px;
		    font-family: 'Lato', sans-serif;
		}
		.layout {
		    padding: 2%;
		}
		.open-popup {
		    cursor: pointer;
		    color: #888;
		}
		.overlay {
		    width: 100%;
		    height: 100%;
		    position: fixed;
		    z-index: 100;
		    left: 0;
		    top: 0;
		    text-align: center;
		    white-space: nowrap;
		    display:none;
		    -webkit-transition: all 0.4s ease;
		    transition: all 0.4s ease;
		}
		.overlay .popup {
		    background: #fff;
		    display: inline-block;
		    white-space: normal;
		    text-align: left;
		    vertical-align: middle;
		    position: relative;
		    -webkit-transition: all 0.4s ease;
		    transition: all 0.4s ease;
		    margin-top: -50px;
		}
		.overlay::before, .overlay::after {
		    height: 100%;
		    content: "";
		    display: inline-block;
		    vertical-align: middle;
		}
		.overlay.shown {
		    display:block;
		}
		.overlay.shown .popup {
		    margin-top: 0;
		}
		.overlay--bg-black {
		    background: rgba(0, 0, 0, 0.7);
		}
		.overlay--bg-white {
		    background: rgba(255, 255, 255, 0.7);
		}
		.popup-close {
		    position: absolute;
		    width: 20px;
		    height: 20px;
		    display: block;
		    top: 8px;
		    right: 5px;
		    cursor: pointer;
		    opacity: 0.7;
		}
		.popup-close::before, .popup-close::after {
		    content: '';
		    position: absolute;
		    display: block;
		    height: 2px;
		    margin-top: -1px;
		    top: 50%;
		    left: 3px;
		    right: 3px;
		    background: #555;
		}
		.popup-close::before {
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		.popup-close::after {
		    -webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}
		.popup-close:hover {
		    opacity: 1;
		}
		.pop_head{
		    padding: 9px 10px;
		    background: #00ce91;
		    color: #fff;
		    font-weight: 500;
		}
		.pop_body {
		    font-size: 14px;
		    padding: 10px 10px;
		    border-bottom: 1px solid #E0E0E0;
		    overflow: auto;
		    max-height: 350px;
		}
		.text-right{
		    text-align:right;
		}
		.pop_footer {
		    padding: 5px 10px;
		}
		.btn_yes {
		    background: #81CE84;
		    padding: 5px 15px;
		    border: none;
		    font-family: inherit;
		    color: #fff;
		    border-radius: 3px;
		    cursor: pointer;
		    outline: none;
		}
		.btn_no{
		    background: #FD7E7E;
		    padding: 5px 15px;
		    border: none;
		    font-family: inherit;
		    color: #fff;
		    border-radius: 3px;
		    cursor: pointer;
		    outline: none;
		}
		
		.form-margin-20 {
		  margin-bottom: 20px;
		}
    </style>

</head>
<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                    </li>
                    <li class="menu-title">UI elements</li><!-- /.menu-title -->
                    <li class="active">
                        <a href="/me/users"> <i class="menu-icon ti-user"></i>USERS </a>
                    </li>
                    <li class="">
                        <a href="/web/users"> <i class="menu-icon ti-user"></i>USERS FRONT </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">  
            <div class="top-left">
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="./"><img src="/images/logo.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="/images/logo2.png" alt="Logo"></a> 
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a> 
                </div> 
            </div>
            <div class="top-right"> 
                <div class="header-menu"> 
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="/images/avatar/1.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="/images/avatar/2.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="/images/avatar/3.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="/images/avatar/4.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i>My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-bell-o"></i>Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i>Logout</a>
                        </div>
                    </div> 
                </div>  
            </div>
        </header><!-- /header -->
        <!-- Header-->
        
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                               <div class="row">
                                <div class="col-md-8"><strong class="card-title">User Management Realtime</strong></div>
                                 <div class="col-md-2 col-sm-2">
                                     <button class="btn btn-success col-md-12 open-popup" id="createUser" data-toggle="modal" data-target="#upModal"><i class="fa fa-plus"></i></button>
                                 </div>
                                 <div class="col-md-2 col-sm-2">
                                     <button class="btn btn-danger col-md-12" id="removeAll"><i class="fa fa-trash"></i> All</button>
                                 </div>
                               </div>
                            </div>
                            <div class="table-stats order-table ov-h">
                                <table class="table">
							        <thead>
							          <tr>
							            <th>id</th>
							            <th>name</th>
							            <th>gender</th>
							            <th>Email</th>
							            <th>address</th>
							            <th>message</th>
							            <th>action</th>
							          </tr>
							        </thead>
							        <tbody id="users">
							        </tbody>
							      </table>
                        </div>
                    </div>
                </div>
                <!-- modal popup when create and update user -->
				<div class="overlay overlay--bg-black">
				  <section class="popup" style="width: 40%;"> 
				        <span class="popup-close"></span> 
				        <h3 class="pop_head">USER</h3>
				        <div class="pop_body container">
				            <div  id="modalUserData" class="container">
				            
				            </div>
				            <!-- when create or update will generate HTML form here -->
				        </div>
				        <div class="pop_footer text-right" id="footerButton">
				                <!-- when create or update will generate HTML button here -->
				        </div>
				  </section>
				</div>
				<!-- end modal popup when create and update user -->
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<div class="clearfix"></div>

<!-- <footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2018 Ela Admin
            </div>
            <div class="col-sm-6 text-right">
                Designed by <a href="https://colorlib.com">Colorlib</a>
            </div>
        </div>
    </div>
</footer> -->

</div><!-- /#right-panel -->

<!-- Right Panel -->


<script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript" th:inline="javascript">
    var serverAddress = /*[[${@environment.getProperty('server.address')}]]*/ 'default';
    var serverport = /*[[${@environment.getProperty('server.port')}]]*/ 'default';
    
    var socketIOPort = /*[[${@environment.getProperty('socket.io.port')}]]*/ 'default';
    var socketAddress = /*[[${@environment.getProperty('socket.io.host')}]]*/ 'default';
    var server = socketAddress+":"+socketIOPort;
    var endpoint = "http://"+serverAddress+":"+serverport;
    var socket =  io.connect(server);
    var currentUser = null;
    var sessionId = '';
    
    
  $(document).ready(function(){
	  socket.on('requestEvent', function(data) {
		  currentUser = data;
		  $('#message'+currentUser.id).removeClass('disabled');
	  });
	  
	  socket.on('connectedEvent', function(data) {
		  sessionId = data;
	  })
	  
      var person = prompt("Please enter your name", "");
      if (person != null) {
          socket.emit('requestJoin', person, 'ponleu');
      }
      
      socket.on('messageEvent', function(data) {
    	 alert(data); 
      });
      
      // $('.dlUser').click(function(){
      //   deleteUser(this.id);
      //   $(this).parent('tr').remove();
      // });
      
      // ========================== create user socketio event ==============================
      $('#createUser').click(function() {
          openModalUpdate(null);
      });
      socket.on('createUserEvent', function(data) {
          $body = `
              <tr id="user${data.id}">
                <td class="id">`+data.id +`</td>
                <td class="name">`+data.name +`</td>
                <td class="gender">`+data.gender +`</td>
                <td class="email">`+data.email +`</td>
                <td class="address">`+data.address +`</td>
                <td class="message"><button class="btn btn-success col-md-12 disabled" id="message`+ data.id +`" onClick="message(${sessionId})"><i class="fa fa-send"></i></button></td>
                <td>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-success col-md-12 upUser open-popup" data-toggle="modal" data-target="#upModal" onClick="openModalUpdate(`+ data.id +`)" id="up`+ data.id +`"><i class="fa fa-edit"></i></button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-danger col-md-12 dlUser" onClick="deleteUser(`+ data.id +`)" id="dl`+ data.id +`"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
                </td>
              </tr>
            `;
          $("#users").append($body);
      });
      // ========================== end create user socketio event ==============================
        
      
      // ========================== remove all users socketio event ==============================
      $("#removeAll").click(function() {
         socket.emit('removeAllButton', 'remove...');
      });
      
      socket.on('removeAllEvent', function(data) {
          console.log(data);
          $("#users").empty();
      });
      // ========================== end remove all users socketio event ==============================
          

      // $(".dlUser").click(function() {
          // console.log("heleo");
          // socket.emit('removeIdEvent', id);
      // });
      socket.on('removeIdEvent', function(data) {
            console.log(data);
            var id = data.split(" ")[1];
            $td = $("#user"+id).fadeOut(150);
      });
      
      socket.on('updateEvent', function(data) {
          $(`#user${data.id} .name`).html(data.name);
          $(`#user${data.id} .gender`).html(data.gender);
          $(`#user${data.id} .email`).html(data.email);
          $(`#user${data.id} .address`).html(data.address);
    });
      
      
  });
  
  get();
  
  function get() {
      $.ajax({
          method : 'GET', 
          url : endpoint+"/users", 
          beforeSend: function(){
              console.log("sending...");
          },
          timeout: 5000,
          success:function(response){
            console.log("completed")
            for(i = 0; i<response.length; i++) {
              $body = `
                    <tr id="user${response[i].id}">
                  <td class="id">`+response[i].id +`</td>
                  <td class="name">`+response[i].name +`</td>
                  <td class="gender">`+response[i].gender +`</td>
                  <td class="email">`+response[i].email +`</td>
                  <td class="address">`+response[i].address +`</td>
                  <td class="message"><button class="btn btn-success col-md-12 disabled" id="message${response[i].id}" onClick="message(${sessionId})"><i class="fa fa-send"></i></button></td>
                  <td>
                    <div class="row">
                      <div class="col-md-6">
                          <button class="btn btn-success col-md-12 upUser open-popup" onClick="openModalUpdate(${response[i].id})" id="up${response[i].id}"><i class="fa fa-edit"></i></button>
                      </div>
                      <div class="col-md-6">
                          <button class="btn btn-danger col-md-12 dlUser" onClick="deleteUser(`+ response[i].id +`)" id="dl`+ response[i].id +`"><i class="fa fa-trash"></i></button>
                      </div>
                    </div>
                  </td>
                    </tr>
                  `;
                $("#users").append($body);
            }
          },
          error : function(error){
          }
      });
  }
  function deleteUser(id) {
      socket.emit('removeIdButton', id);
      console.log(id);
  }
  
  function upUser(id) {
      name = $("#modalUserData #name").val();
      gender = $("#modalUserData #gender").val();
      email = $("#modalUserData #email").val();
      address = $("#modalUserData #address").val();
      $user = {
        name: name,
        gender: gender,
        email: email,
        address: address
      };
      socket.emit('updateButton', id, $user);
  }
  
  function createUser() {
      name = $("#modalUserData #name").val();
      gender = $("#modalUserData #gender").val();
      email = $("#modalUserData #email").val();
      address = $("#modalUserData #address").val();
      $user = {
        name: name,
        gender: gender,
        email: email,
        address: address
      };
      socket.emit('createUserButton', $user);
  }
  
  function openModalUpdate(id) {
	  console.log(id);
      name = '';
      gender = '';
      email = '';
      address = '';
      if (id != null) {
          name = $(`#user${id} .name`).html();
          gender = $(`#user${id} .gender`).html();
          email = $(`#user${id} .email`).html();
          address = $(`#user${id} .address`).html();  
      }
      selectedGender = gender=='female'?'female':'male';
      notSelectedGender = gender=='female'?'male':'female';
      $body = 
          `
            <input type="text" id="name" class="form-control form-margin-20" placeholder="name" value="${name}">
            <select class="form-control form-margin-20" id="gender">
	            <option selected>${selectedGender}</option>
	            <option >${notSelectedGender}</option>
	          </select>
            <input type="text" id="email" class="form-control form-margin-20" placeholder="email" value="${email}">
            <input type="text" id="address" class="form-control form-margin-20" placeholder="address" value="${address}">
          `;
        $("#modalUserData").html($body);
      $bodyFooter =
          `
          <button type="button" class="btn btn-success btn_yes col-sm-1" id="${id}==null?createUserBtn:upUser" onClick="${id}==null?createUser():upUser(${id})"><i class="fa fa-edit"></i></button>
          <button type="button" class="btn btn-default btn_no col-sm-1"><i class="fa fa-close"></i></button>
          `;
      $("#footerButton").html($bodyFooter);
  }
  
  function message(session) {
	  var message = prompt("Please enter your name", '');
      if (message != '') {
    	  socket.emit('sendMessageButton', message);
      }
  }
 </script>
<script type="text/javascript">
	$(document).on('click', '.open-popup', function() {
		  $('.overlay').addClass('shown');
		});
	
		$('.popup-close').on('click', function() {
		  $('.overlay').removeClass('shown');
		});
		$(document).on('click', '.btn_yes, .btn_no', function(event) {
		  $('.overlay').removeClass('shown');
		});
		$(document).on('keyup', function(event) {
		  if (event.which == 27) { // esc
		    $('.overlay').removeClass('shown');
		  };
		});
</script>

</body>
</html>
